%h2title {
    font-family: 'Montserrat-Bold';
    font-size: 45px;
    line-height: 55px;
    text-transform: uppercase;

    @include for-xl-desktop {
        font-size: 40px;
        line-height: 50px;
    }

    @include for-laptop {
        font-size: 34px;
        line-height: 44px;
    }

    @include for-xl-mobile {
        font-size: 30px;
        line-height: 37px;
    }

    @include for-xs-mobile {
        font-size: 25px;
        line-height: 30px;
    }
}