@import "./media.scss";

.section__header {
    background: url(../images/whitebcg1.svg) 0 100%/100% auto no-repeat,
                url(../images/bluebcg1.svg) 0 0/cover no-repeat;
    height: 1111px;

    @include for-xl-desktop {
        height: 946px;
    }

    @include for-desktop {
        height: 929px;
    }

    @include for-laptop {
        height: 779px;
    }

    @include for-tablet {
        height: 709px;
    }

    @include for-xl-mobile {
        height: 632px;
    }

    @include for-mobile {
        background: url(../images/headerbcgmobile.png) 0 0/100% auto no-repeat;
        height: 590px;
    }

    @include for-xs-mobile {
        height: 545px;
    }

    .header {
        width: 100%;
        padding-top: 25px;

        @include for-xl-desktop {
            padding-top: 22px;
        }

        @include for-laptop {
            padding-top: 18px;
        }

        @include for-mobile {
            padding-top: 15px;
        }

        .header__content {
            width: 38px + 1297px + 77px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;

            @include for-xl-desktop {
                width: 1280px;
            }

            @include for-desktop {
                width: 1166px;
            }

            @include for-laptop {
                width: 960px;
            }

            @include for-tablet {
                width: 93%;
            }

            .header__logo {
                font-size: 17px;
                line-height: 21px;
                opacity: 0.8;
                cursor: pointer;

                @include for-xl-desktop {
                    font-size: 15px;
                    line-height: 19px;
                }

                @include for-laptop {
                    font-size: 14px;
                    line-height: 18px;
                }

                @include for-tablet {
                    order: 2;
                }

                a {
                    color: #fff;

                    @include for-tablet {
                        font-size: 16px;
                        line-height: 20px;
                    }

                    @include for-xs-mobile {
                        font-size: 13px;
                        line-height: 17px;
                    }    
                }

                a:hover {
                    color: #B3EEFF;
                }
            }

            .header__nav {
                font-size: 17px;
                font-weight: bold;
                line-height: 21px;
                text-transform: uppercase;

                @include for-xl-desktop {
                    font-size: 16px;
                    line-height: 20px;
                }

                @include for-laptop {
                    font-size: 14px;
                    line-height: 18px;
                }

                @include for-tablet {
                    display: none;
                }

                a {
                    color: #fff;
                    margin: 0 40.5px;
                    cursor: pointer;

                    @include for-xl-desktop {
                        margin: 0 30px;
                    }

                    @include for-desktop {
                        margin: 0 29px;
                    }

                    @include for-laptop {
                        margin: 0 20px;
                    }
                }

                a:hover {
                    color: #B3EEFF;
                    transition-duration: 0.3s;
                }
                
                .header_active {
                    padding-bottom: 7px;
                    border-bottom: 3px solid #FF9B05;
                }
            }

            .header__burger {
                @include for-xxl-desktop {
                    display: none;
                }

                @include for-xl-desktop {
                    display: none;
                }

                @include for-laptop {
                    display: none;
                }

                @include for-tablet {
                    width: 80px;
                    height: 38px;
                    display: flex;
                    order: 1;

                    @include for-xl-mobile {
                        width: 73px;
                    }

                    @include for-mobile {
                        width: 66px;
                    }

                    .header_burger_pointer {
                        width: 35px;
                        display: flex;
                        flex-direction: column;
                        background: transparent;

                        .header_burgerline1 {
                            margin-top: 14px;
                        }
        
                        .header_burgerline2 {
                            margin-top: 11px;
                        }
                    }
                }
            }

            .header__cabinet {
                width: 123px + 77px + 15px;
                height: 58px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                @include for-xl-desktop {
                    height: 54px;
                }

                @include for-desktop {
                    width: 195px;
                    height: 52px;
                }

                @include for-laptop {
                    width: 166px;
                    height: 48px;
                }

                @include for-tablet {
                    order: 3;
                    width: 80px;
                    height: 44px;
                }

                @include for-xl-mobile {
                    width: 73px;
                    height: 40px;
                }

                @include for-mobile {
                    width: 66px;
                    height: 36px;
                }

                .header_lang {
                    width: 123px;
                    height: 58px;
                    background: #FFFFFF;
                    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.05);
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    cursor: pointer;

                    @include for-xl-desktop {
                        height: 54px;
                    }

                    @include for-desktop {
                        width: 110px;
                        height: 52px;
                    }

                    @include for-laptop {
                        width: 88px;
                        height: 48px;
                    }

                    @include for-tablet {
                        width: 80px;
                        height: 44px;
                    }

                    @include for-xl-mobile {
                        width: 73px;
                        height: 40px;
                    }

                    @include for-mobile {
                        width: 66px;
                        height: 36px;
                    }

                    span {
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 17px;
                        line-height: 21px;
                        color: #2E3A59;

                        @include for-desktop {
                            font-size: 15px;
                            line-height: 19px;
                        }

                        @include for-tablet {
                            font-size: 14px;
                            line-height: 18px;
                            margin-top: 1px;
                        }

                        @include for-xl-mobile {
                            font-size: 12px;
                            line-height: 16px;
                        }
                    }

                    .header_ru {
                        @include for-desktop {
                            width: 34px;
                        }

                        @include for-laptop {
                            width: 32px;
                        }

                        @include for-tablet {
                            width: 29px;
                        }

                        @include for-xl-mobile {
                            width: 25px;
                        }
                    }

                    .header_caret {
                        @include for-tablet {
                            display: none;
                        }
                    }
                }

                .header_account {
                    width: 77px;
                    height: 58px;
                    background: linear-gradient(98.89deg, #FF9B05 25.06%, #FF8F3F 88.94%);
                    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.08);
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;

                    @include for-xl-desktop {
                        height: 54px;
                    }

                    @include for-desktop {
                        width: 70px;
                        height: 52px;
                    }

                    @include for-laptop {
                        width: 64px;
                        height: 48px;
                    }

                    @include for-tablet {
                        display: none;
                    }

                    img {
                        @include for-desktop {
                            width: 23px;
                        }

                        @include for-laptop {
                            width: 21px;
                        }
                    }
                }
            }
        }
    }

    .subheader {
        width: 38px + 1297px + 77px;
        margin: 0 auto;

        @include for-xl-desktop {
            width: 1280px;
        }

        @include for-laptop {
            width: 1024px;
        }

        @include for-tablet {
            display: none;
        }

        .subheader_cheats {
            display: inline-block;
            font-weight: 600;
            font-size: 45px;
            line-height: 55px;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.1);
            cursor: default;
            margin: 26px 0 0 362px;

            @include for-xl-desktop {
                font-size: 39px;
                line-height: 49px;
                margin-left: 329px;
            }

            @include for-desktop {
                font-size: 34px;
                line-height: 44px;
            }

            @include for-laptop {
                font-size: 29px;
                line-height: 36px;
                margin-left: 272px;
            }
        }

        .wallhack {
            transform: rotate(-16.17deg);
            margin-left: 342px;

            @include for-laptop {
                margin-left: 264px;
            }
        }
    }

    .subheader__container {
        display: flex;
        justify-content: center;
        margin-top: 25px;

        @include for-laptop {
            margin-top: 16px;
        }

        @include for-tablet {
            margin-top: 26px;
        }
        
        .subheader_left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 850px;

            @include for-xl-desktop {
                height: 724px;
                width: 720px;
            }

            @include for-laptop {
                height: 618px;
            }

            @include for-tablet {
                width: 455px;
                height: 603px;
            }

            @include for-xl-mobile {
                height: 548px;
            }

            @include for-xl-mobile {
                width: 100%;
                height: 562px;
                overflow: hidden;
            }

            @include for-mobile {
                height: 529px;
            }

            @include for-xs-mobile {
                height: 481px;
            }

            .subheader_left_list {
                min-height: 201px + 214px + 78px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-left: 254px;

                @include for-xl-desktop {
                    margin: 0;
                    min-height: 450px;
                    width: 668px;
                    align-self: end;
                }

                @include for-laptop {
                    width: 565px;
                    min-height: 400px;
                    align-self: flex-start;
                    margin-left: 28px;
                }

                @include for-tablet {
                    margin: 0;
                    width: 455px;
                    min-height: 385px;
                    align-items: center;
                }

                @include for-xl-mobile {
                    margin: 0 auto;
                    width: 340px;
                    min-height: 399px;
                }

                @include for-mobile {
                    min-height: 388px;
                }

                @include for-xs-mobile {
                    width: 310px;
                    min-height: 352px;
                }
        
                .left_title_mobile {
                    @include for-xl-mobile {
                        height: 125px;
                        display: flex;
                        align-items: flex-end;
                    }

                    @include for-xs-mobile {
                        height: 111px;
                    }

                    .left_title {
                        font-family: 'Montserrat-Bold';
                        font-weight: 900;
                        font-size: 55px;
                        line-height: 67px;
                        color: #fff;
                        max-width: 611px;
                        position: relative;

                        @include for-xl-desktop {
                            font-size: 50px;
                            line-height: 62px;
                        }

                        @include for-laptop {
                            font-size: 40px;
                            line-height: 52px;
                            max-width: 480px;
                        }

                        @include for-tablet {
                            text-align: center;
                        }

                        @include for-xl-mobile {
                            font-size: 30px;
                            line-height: 37px;
                            max-width: 334px;
                        }

                        @include for-xs-mobile {
                            font-size: 27px;
                            line-height: 34px;
                            max-width: 310px;
                        }

                        .left_svgline {
                            position: absolute;
                            top: -16px;
                            left: -25px;

                            @include for-xl-desktop {
                                width: 41px;
                                top: -14px;
                                left: -21px;
                            }

                            @include for-laptop {
                                width: 34px;
                                top: -9px;
                                left: -17px;
                            }

                            @include for-tablet {
                                top: -9px;
                                left: 24px;
                            }

                            @include for-xl-mobile {
                                width: 28px;
                                top: -9px;
                                left: 9px;
                            }

                            @include for-xs-mobile {
                                width: 26px;
                                left: 11px;
                            }
                        }

                        .left_polygon {
                            margin: 11px 3px 0;

                            @include for-laptop {
                                width: 32px;
                            }

                            @include for-tablet {
                                width: 29px;
                            }

                            @include for-xl-mobile {
                                margin: 6px 3px 0;
                                width: 26px;
                            }

                            @include for-xs-mobile {
                                width: 23px;
                            }
                        }
                    }
                }

                .left_line {
                    max-width: 110px;

                    @include for-laptop {
                        width: 95px;
                    }
                }

                .left_text {
                    font-family: 'Montserrat';
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 22px;
                    color: #FFFFFF;
                    max-width: 680px;

                    @include for-xl-desktop {
                        font-size: 17px;
                        line-height: 21px;
                    }

                    @include for-desktop {
                        font-size: 16px;
                        line-height: 20px;
                    }

                    @include for-laptop {
                        font-size: 14px;
                        line-height: 18px;
                        max-width: 527px;
                    }

                    @include for-tablet {
                        text-align: center;
                        width: 455px;
                    }

                    @include for-xl-mobile {
                        font-size: 13px;
                        line-height: 16px;
                        max-width: 340px;
                    }

                    @include for-mobile {
                        font-size: 12px;
                        line-height: 15px;
                        width: 315px;
                    }

                    @include for-xs-mobile {
                        font-size: 11px;
                        line-height: 14px;
                        width: 287px;
                    }
                }

                .left_buttons {
                    display: flex;
                    justify-content: space-between;
                    width: 240px + 34px + 257px;

                    @include for-xl-desktop {
                        width: 212px + 241px + 30px;
                    }

                    @include for-laptop {
                        width: 403px;
                    }

                    @include for-xl-mobile {
                        flex-direction: column;
                        align-items: center;
                        height: 125px;
                        width: 144px;
                    }

                    @include for-xs-mobile {
                        height: 115px;
                    }

                    .left_button1 {
                        width: 240px;
                        background: linear-gradient(98.89deg, #FF9B05 25.06%, #FF8F3F 88.94%);
                        box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.08);
                        border-radius: 5px;
                        padding: 24px 34px 24px 48px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        @include for-xl-desktop {
                            width: 212px;
                            padding: 20px 30px 20px 44px;
                        }

                        @include for-laptop {
                            width: 176px;
                            padding: 16px 26px 16px 32px;
                        }

                        @include for-xl-mobile {
                            width: 144px;
                            height: 54px;
                            padding: 18px 25px;
                        }

                        p {
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 22px;
                            color: #fff;

                            @include for-xl-desktop {
                                font-size: 16px;
                                line-height: 20px;
                            }

                            @include for-laptop {
                                font-size: 14px;
                                line-height: 18px;
                            }

                            @include for-xl-mobile {
                                font-size: 13px;
                                line-height: 16px;
                            }
                        }

                        img {
                            @include for-laptop {
                                width: 42px;
                            }

                            @include for-xl-mobile {
                                width: 32px;
                            }
                        }
                    }

                    .left_button2 {
                        max-width: 257px;
                        border: 1px solid rgba(169, 234, 255, 1);
                        border-radius: 5px;
                        padding: 28px 38px;
                        background: transparent;

                        @include for-xl-desktop {
                            width: 241px;
                            padding: 24px 34px;
                        }

                        @include for-laptop {
                            width: 206px;
                        }

                        @include for-xl-mobile {
                            width: 144px;
                            height: 54px;
                            padding: 19px 25.5px;
                        }

                        .left_video {
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 22px;
                            color: #fff;

                            @include for-xl-desktop {
                                font-size: 16px;
                                line-height: 20px;
                            }

                            @include for-laptop {
                                font-size: 14px;
                                line-height: 18px;
                            }

                            @include for-xl-mobile {
                                display: none;
                            }
                        }

                        .left_video_mobile {
                            @include for-xxl-desktop {
                                display: none;
                            }

                            @include for-xl-desktop {
                                display: none;
                            }

                            @include for-tablet {
                                display: none;
                            }

                            @include for-xl-mobile {
                                display: inline-block;
                                color: #fff;
                                font-weight: 400;
                                font-size: 13px;
                                line-height: 16px;
                            }
                        }
                    }
                }
            }

            .left_loot {
                margin: 14px 0 0 134px;
                max-width: 809px;

                @include for-xl-desktop {
                    max-width: 668px;
                    margin: 0;
                }

                @include for-desktop {
                    margin-left: 17px;
                }

                @include for-laptop {
                    width: 580px;
                }

                @include for-tablet {
                    margin-left: -130px;
                    width: 540px;
                }

                @include for-xl-mobile {
                    width: 510px;
                    margin-left: 28px;
                }

                @include for-mobile {
                    width: 437px;
                    margin-left: 17px;
                }

                @include for-xs-mobile {
                    width: 400px;
                    margin-left: 12px;
                }
            }
        }

        .subheader_right {
            position: relative;
            margin-top: 50px;

            @include for-laptop {
                margin-top: 82px;
            }

            @include for-tablet {
                display: none;
            }

            .right_wave {
                position: absolute;
                top: 16px;
                left: 95px;

                @include for-xl-desktop {
                    top: 0;
                    left: -23px;
                }

                @include for-desktop {
                    width: 83px;
                }

                @include for-laptop {
                    width: 76px;
                    left: -55px;
                }
            }

            .right_car {
                margin-left: -76px;

                @include for-xl-desktop {
                    width: 860px;
                    margin-left: -195px;
                }

                @include for-desktop {
                    width: 750px;
                }

                @include for-laptop {
                    width: 559px;
                    margin-left: -227px;
                }

                @include for-tablet {
                    width: 400px;
                }
            }
        }
    }
}