@import "../components/h2title.scss";
@import "./media.scss";

.about {
    background: url(../images/blueabout.svg) 50%/cover no-repeat;
    height: 597px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    @include for-laptop {
        margin-top: -40px;
        height: 525px;
    }

    @include for-tablet {
        height: 555px;
        margin-top: -50px;
    }

    @include for-xl-mobile {
        background: url(../images/aboutbcgmobile.png) 50%/cover no-repeat;
        margin-top: -25px;
        align-items: flex-start;
        height: 465px;
    }

    @include for-xs-mobile {
        height: 412px;
    }

    .about__container {
        background: url(../images/bcgdott1.png) 50% 77%/no-repeat;
        width: 940px;
        height: 241px + 77px + 130px;

        @include for-laptop {
            background: url(../images/bcgdott1.png) 50% 87%/700px no-repeat;
            width: 802px;
            // height: 305px;
        }

        @include for-tablet {
            width: 768px;
            background: url(../images/bcgdott1.png) 50% 57%/600px no-repeat;
        }

        @include for-xl-mobile {
            background: url(../images/aboutbgcdottmobile.png) 50% 60%/400px no-repeat;
            margin-top: 97px;
            height: 350px;
        }

        @include for-mobile {
            background: url(../images/aboutbgcdottmobile.png) 50% 60%/359px no-repeat;
        }

        @include for-xs-mobile {
            background: url(../images/aboutbgcdottmobile.png) 50% 40%/305px no-repeat;
        }

        .about__heading {
            @extend %h2title;
            color: #fff;
            text-align: center;
            position: relative;
            width: 510px;
            margin: 0 auto;

            @include for-xl-desktop {
                margin-top: 10px;
            }

            @include for-desktop {
                margin-top: 15px;
            }

            @include for-laptop {
                width: 434px;
                margin-top: 87px;
            }

            @include for-tablet {
                margin-top: 36px;
            }

            @include for-xl-mobile {
                width: 340px;
                margin-top: 15px;
            }

            @include for-xs-mobile {
                width: 286px;
                margin-top: 5PX;
            }

            .about_line {
                position: absolute;
                top: -16px;
                left: -23px;

                @include for-xl-desktop {
                    width: 39px;
                    top: -13px;
                    left: 9px;
                }
                
                @include for-laptop {
                    width: 33px;
                    top: -11px;
                }

                @include for-xl-mobile {
                    width: 27px;
                    top: -10px;
                    left: -13px;
                }

                @include for-xs-mobile {
                    width: 25px;
                    top: -11px;
                    left: -11px;
                }
            }
        }

        .about__block {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            height: 227px;
            margin-top: 43px;

            @include for-xl-desktop {
                margin-top: 33px;
            }

            @include for-desktop {
                margin-top: 28px;
            }

            @include for-laptop {
                margin-top: 24px;
                height: 198px;
            }

            @include for-tablet {
                justify-content: center;
            }

            @include for-xs-mobile {
                height: 154px;
            }

            .about_rhomb {
                width: 115px;
                height: 115px;
                background: linear-gradient(103.01deg, #0AA6FE -49.1%, #05FFFF 177.15%);
                box-shadow: 0px 4px 25px rgba(10, 166, 254, 0.48), inset 0px 0px 25px rgba(0, 50, 180, 0.3);
                border-radius: 15px;
                align-self: flex-end;

                @include for-laptop {
                    width: 100px;
                    height: 100px;
                }

                @include for-tablet {
                    display: none;
                }
            }

            .rhomb_left {
                transform: rotate(135deg);

                img {
                transform: rotate(-135deg);
                }
            }

            .rhomb_right {
                transform: rotate(-45deg);

                img {
                    transform: rotate(225deg);
                }
            }

            .about_man {
                width: 601px;
                display: flex;
                flex-direction: column;
                align-items: center;

                @include for-laptop {
                    width: 500px;
                }

                @include for-xl-mobile {
                    width: 360px;
                }

                @include for-mobile {
                    width: 321px;
                }

                @include for-xs-mobile {
                    width: 280px;
                }

                .about_image {
                    max-width: 117px;
                    min-height: 117px;

                    @include for-laptop {
                        max-width: 103px;
                        min-height: 103px;
                    }

                    @include for-xl-mobile {
                        max-width: 75px;
                        min-height: 75px;
                    }

                    @include for-xs-mobile {
                        max-width: 65px;
                        min-height: 65px;
                    }
                }

                .about_title {
                    color: #2E3A59;
                    font-weight: 600;
                    margin-top: 18px;
                    position: relative;

                    @include for-laptop {
                        margin-top: 10px;
                        font-size: 16px;
                        line-height: 20px;
                    }

                    @include for-xl-mobile {
                        font-size: 14px;
                        line-height: 18px;
                    }

                    @include for-mobile {
                        font-size: 13px;
                        line-height: 16px;
                    }

                    @include for-xs-mobile {
                        font-size: 12px;
                        line-height: 15px;
                        margin-top: 5px;
                    }
                }

                .about_title::after {
                    content: "\00a0";
                    width: 29px;
                    height: 11px;
                    background: linear-gradient(98.51deg, #FF9898 14.64%, #FF1F00 102.27%);
                    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.05);
                    border-radius: 5px 55px;
                    margin: 5px 0 0 8px;
                    position: absolute;

                    @include for-laptop {
                        zoom: 0.9;
                        margin: 4px 0 0 8px;
                    }

                    @include for-xl-mobile {
                        zoom: 0.8;
                        margin: 5px 0 0 9px;
                    }

                    @include for-mobile {
                        zoom: 0.7;
                        margin: 7px 0 0 12px;
                    }

                    @include for-xs-mobile {
                        zoom: 0.6;
                    }
                }

                .about_subtitle {
                    font-size: 16px;
                    line-height: 20px;
                    text-align: center;
                    color: #2E3A59;
                    margin-top: 20px;

                    @include for-laptop {
                        font-size: 14px;
                        line-height: 18px;
                        margin-top: 11px;
                    }

                    @include for-xl-mobile {
                        font-size: 12px;
                        line-height: 16px;
                    }

                    @include for-mobile {
                        font-size: 11px;
                    }

                    @include for-xs-mobile {
                        font-size: 10px;
                        margin-top: 7px;
                    }
                }
            }
        }

        .about__arrow {
            @include for-xxl-desktop {
                display: none;
            }

            @include for-xl-desktop {
                display: none;
            }

            @include for-laptop {
                display: none;
            }

            @include for-tablet {
                display: flex;
                justify-content: space-between;
                width: 54px + 54px + 29px;
                height: 28px;
                margin: 68px auto 0;
            }

            @include for-xl-mobile {
                margin: 36px auto 0;
            }
        }
    }
}