@import "../components/h2title.scss";
@import "./media.scss";

.about {
    background: url(../images/blueabout.svg) 50%/cover no-repeat;
    height: 597px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    @include for-laptop {
        margin-top: -40px;
        height: 525px;
    }

    .about__container {
        background: url(../images/bcgdott1.png) 50% 77%/ no-repeat;
        width: 940px;
        height: 241px + 77px + 130px;

        @include for-laptop {
            background: url(../images/bcgdott1.png) 50% 87%/700px no-repeat;
            width: 802px;
            // height: 305px;
        }

        .about__heading {
            @extend %h2title;
            color: #fff;
            text-align: center;
            position: relative;
            width: 510px;
            margin: 0 auto;

            @include for-xl-desktop {
                margin-top: 10px;
            }

            @include for-desktop {
                margin-top: 15px;
            }

            @include for-laptop {
                width: 434px;
                margin-top: 87px;
            }

            .about_line {
                position: absolute;
                top: -16px;
                left: -23px;

                @include for-xl-desktop {
                    width: 39px;
                    top: -13px;
                    left: 9px;
                }
                
                @include for-laptop {
                    width: 33px;
                    top: -11px;
                }
            }
        }

        .about__block {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            height: 227px;
            margin-top: 43px;

            @include for-xl-desktop {
                margin-top: 33px;
            }

            @include for-desktop {
                margin-top: 28px;
            }

            @include for-laptop {
                margin-top: 24px;
                height: 198px;
            }

            .about_rhomb {
                width: 115px;
                height: 115px;
                background: linear-gradient(103.01deg, #0AA6FE -49.1%, #05FFFF 177.15%);
                box-shadow: 0px 4px 25px rgba(10, 166, 254, 0.48), inset 0px 0px 25px rgba(0, 50, 180, 0.3);
                border-radius: 15px;
                align-self: flex-end;

                @include for-laptop {
                    width: 100px;
                    height: 100px;
                }
            }

            .rhomb_left {
                transform: rotate(135deg);

                img {
                transform: rotate(-135deg);
                }
            }

            .rhomb_right {
                transform: rotate(-45deg);

                img {
                    transform: rotate(225deg);
                }
            }

            .about_man {
                width: 601px;
                display: flex;
                flex-direction: column;
                align-items: center;

                @include for-laptop {
                    width: 500px;
                }

                .about_image {
                    max-width: 117px;
                    min-height: 117px;

                    @include for-laptop {
                        max-width: 103px;
                        min-height: 103px;
                    }
                }

                .about_title {
                    color: #2E3A59;
                    font-weight: 600;
                    margin-top: 18px;
                    position: relative;

                    @include for-laptop {
                        margin-top: 10px;
                        font-size: 16px;
                        line-height: 20px;
                    }
                }

                .about_title::after {
                    content: "\00a0";
                    width: 29px;
                    height: 11px;
                    background: linear-gradient(98.51deg, #FF9898 14.64%, #FF1F00 102.27%);
                    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.05);
                    border-radius: 5px 55px;
                    margin: 5px 0 0 8px;
                    position: absolute;

                    @include for-laptop {
                        zoom: 0.9;
                        margin: 4px 0 0 8px;
                    }
                }

                .about_subtitle {
                    font-size: 16px;
                    line-height: 20px;
                    text-align: center;
                    color: #2E3A59;
                    margin-top: 20px;

                    @include for-laptop {
                        font-size: 14px;
                        line-height: 18px;
                        margin-top: 11px;
                    }
                }
            }
        }
    }
}