@import "../components/h2title.scss";
@import "./media.scss";

.functional {
    display: flex;
    justify-content: center;

    @include for-laptop {
        margin-top: 10px;
    }

    @include for-tablet {
        margin-top: 25px;
        flex-direction: column;
        align-items: center;
    }

    .functional__left {
        width: 206px + 226px + 135px;
        margin-right: 44.5px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include for-xl-desktop {
            width: 489px;
            margin-right: 34px;
        }

        @include for-laptop {
            width: 410px;
            margin-right: 19px;
        }

        @include for-tablet {
            margin: 0;
        }

        @include for-mobile {
            width: 370px;
        }

        @include for-xs-mobile {
            width: 270px;
        }

        .functional_heading_mobile {
            @include for-xxl-desktop {
                display: none;
            }

            @include for-xl-desktop {
                display: none;
            }

            @include for-laptop {
                display: none;
            }

            @include for-tablet {
                font-size: 34px;
                line-height: 44px;
                font-family: 'Montserrat-Bold';
                text-transform: uppercase;
                color: #2E3A59;
                position: relative;
                display: inline-block;
                margin-top: 15px;
            }

            @include for-xl-mobile {
                font-size: 30px;
                line-height: 37px;
                margin-top: 20px;
            }

            @include for-xs-mobile {
                font-size: 25px;
                line-height: 30px;
            }

            .functional_line1_mobile {
                @include for-tablet {
                    position: absolute;
                    width: 28px;
                    top: -9px;
                    left: -19px;
                }

                @include for-xl-mobile {
                    width: 25px;
                    top: -8px;
                    left: -17px;
                }

                @include for-xs-mobile {
                    width: 22px;
                }
            }

            .functional_line2_mobile {
                @include for-tablet {
                    position: absolute;
                    width: 28px;
                    bottom: -9px;
                    right: -23px;
                }

                @include for-xl-mobile {
                    width: 25px;
                    bottom: -8px;
                    right: -21px;
                }

                @include for-xs-mobile {
                    width: 22px;
                }
            }


        }

        .functional_subheading_mobile {
            @include for-xxl-desktop {
                display: none;
            }

            @include for-xl-desktop {
                display: none;
            }

            @include for-laptop {
                display: none;
            }

            @include for-tablet {
                width: 470px;
                margin-top: 25px;
                text-align: center;
                color: #828282;
                font-size: 15px;
                line-height: 19px;
                display: inline-block;
            }

            @include for-xl-mobile {
                width: 330px;
                font-size: 12px;
                line-height: 25px;
                margin-top: 20px;
            }

            @include for-xs-mobile {
                font-size: 11px;
                line-height: 22px;
                width: 255px;
                margin-top: 17px;
            }
        }

        // Reusable buttons
        .functional_system {
            width: 206px + 226px + 135px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include for-xl-desktop {
                width: 489px;
            }

            @include for-laptop {
                width: 410px;
            }

            @include for-tablet {
                margin-top: 30px;
            }

            @include for-xl-mobile {
                width: 405px;
            }

            @include for-mobile {
                width: 339px;
            }

            @include for-xs-mobile {
                margin-top: 15px;
                flex-direction: column;
                height: 179px;
                width: 123px;
            }

            .functional_button1 {
                width: 206px;
                background: #fff;
                box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.03);
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 22px 0;

                @include for-xl-desktop {
                    width: 181px;
                    padding: 19px 0;
                }

                @include for-laptop {
                    width: 148px;
                    padding: 16px 0;
                }

                @include for-mobile {
                    width: 123px;
                    padding: 17px 0;
                }

                p {
                    font-weight: bold;
                    color: #aaa;
                    font-size: 18px;
                    line-height: 22px;
                    margin-left: 17px;

                    @include for-xl-desktop {
                        font-size: 16px;
                        line-height: 20px;
                        margin-left: 13px;
                    }

                    @include for-laptop {
                        font-size: 15px;
                        line-height: 19px;
                        margin-left: 10px;
                    }

                    @include for-mobile {
                        font-size: 13px;
                        line-height: 16px;
                    }
                }

                img {
                    @include for-xl-desktop{
                        width: 29px;
                    }

                    @include for-laptop {
                        width: 26px;
                    }

                    @include for-mobile {
                        width: 23px;
                    }
                }
            }
            
            .functional_button2 {
                width: 195px;
                background: #fff;
                box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.03);
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 17px 0;

                @include for-xl-desktop {
                    width: 170px;
                    padding: 14px 0;
                }

                @include for-laptop {
                    width: 140px;
                    padding: 12px 0;
                }

                @include for-mobile {
                    width: 116px;
                    padding: 16px 0 17px;
                }

                @include for-xs-mobile {
                    width: 123px;
                }

                p {
                    font-weight: bold;
                    color: #aaa;
                    font-size: 18px;
                    line-height: 22px;
                    margin-left: 16px;

                    @include for-xl-desktop {
                        font-size: 16px;
                        line-height: 20px;
                        margin-left: 15px;
                    }

                    @include for-laptop {
                        font-size: 15px;
                        line-height: 19px;
                        margin-left: 11px;
                    }

                    @include for-mobile {
                        font-size: 13px;
                        line-height: 16px;
                    }
                }

                img {
                    @include for-xl-desktop{
                        width: 29px;
                    }

                    @include for-laptop {
                        width: 26px;
                    }

                    @include for-mobile {
                        width: 18px;
                    }
                }
            }
            
            .functional_button3 {
                width: 135px;
                background: linear-gradient(82.58deg, #0AA6FE 37.16%, #05FFFF 163.86%);
                box-shadow: 0px 15px 25px rgba(0, 163, 255, 0.3);
                border-radius: 5px;
                display: flex;
                justify-content: center;
                padding: 16px 0 17px;

                @include for-xl-desktop {
                    width: 110px;
                    padding: 13px 0 14px;
                }

                @include for-laptop {
                    width: 98px;
                    padding: 11px 0 12px;
                }

                @include for-mobile {
                    width: 81px;
                    padding: 16px 0 17px;
                }

                @include for-xs-mobile {
                    width: 123px;
                }

                p {
                    font-weight: bold;
                    color: #fff;
                    font-size: 18px;
                    line-height: 22px;
                    margin-left: 16px;
                    align-self: center;

                    @include for-xl-desktop {
                        font-size: 16px;
                        line-height: 20px;
                        margin: 4px 0 0 12px;
                    }

                    @include for-laptop {
                        font-size: 15px;
                        line-height: 19px;
                        margin: 2px 0 0 9px;
                    }

                    @include for-mobile {
                        font-size: 13px;
                        line-height: 16px;
                    }
                }

                img {
                    @include for-xl-desktop {
                        width: 26px;
                    }

                    @include for-laptop {
                        width: 23px;
                    }

                    @include for-mobile {
                        width: 16px;
                    }
                }
            }
        }

        .functional_pc {
            font-weight: 600;
            color: #fff;
            opacity: 0.8;
            cursor: default;
            align-self: start;
            margin: 10px 0 0 130px;

            @include for-xl-desktop {
                font-size: 16px;
                line-height: 20px;
                margin: 9px 0 0 115px;
            }

            @include for-laptop {
                font-size: 14px;
                line-height: 18px;
                margin: 9px 0 0 100px;
            }

            @include for-tablet {
                display: none;
            }
        }

        .functional_iphone {
            margin-top: 9px;

            @include for-xl-desktop {
                width: 280px;
            }

            @include for-laptop {
                width: 227px;
            }

            @include for-tablet {
                margin-top: 40px;
            }
            
            @include for-mobile {
                width: 212px;
            }

            @include for-xs-mobile {
                margin-top: 30px;
            }
        }

        .functional_sliders {
            width: 122px + 33px;
            display: flex;
            justify-content: space-between;
            margin-top: 41px;

            @include for-xl-desktop {
                width: 145px;
                margin-top: 29px;
            }

            @include for-laptop {
                width: 126px;
            }

            button {
                background: transparent;

                img {
                    @include for-xl-desktop {
                        width: 57px;
                    }

                    @include for-laptop {
                        width: 52px;
                    }
                }
            }
        }
    }

    .functional__right {
        width: 649px;
        margin-left: 44.5px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include for-xl-desktop {
            width: 580px;
            margin-left: 34px;
        }

        @include for-laptop {
            width: 520px;
            margin-left: 19 px;
        }

        @include for-tablet {
            margin: 0;
        }

        @include for-xl-mobile {
            width: 370px;
        }

        @include for-mobile {
            width: 300px;
        }

        @include for-xs-mobile {
            width: 270px;
        }

        .functional_heading {
            @extend %h2title;
            color: #2E3A59;
            margin-top: 15px;
            position: relative;

            @include for-tablet {
                display: none;
            }

            .functional_line1 {
                position: absolute;
                top: -10px;
                left: -20px;

                @include for-xl-desktop {
                    width: 31px;
                    top: -9px;
                    left: -19px;
                }

                @include for-laptop {
                    width: 28px;
                }
            }

            .functional_line2 {
                position: absolute;
                bottom: -14px;
                right: -26px;

                @include for-xl-desktop {
                    width: 31px;
                    bottom: -9px;
                    right: -23px;
                }

                @include for-laptop {
                    width: 28px;
                }
            }
        }

        .functional_subheading {
            width: 495px;
            text-align: center;
            color: #828282;
            margin-top: 25px;

            @include for-laptop {
                font-size: 15px;
                line-height: 19px;
            }

            @include for-tablet {
                display: none;
            }
        }

        .functional_description {
            @include for-xxl-desktop {
                display: none;
            }

            @include for-xl-desktop {
                display: none;
            }

            @include for-laptop {
                display: none;
            }

            @include for-tablet {
                display: inline-block;
                font-family: 'Montserrat-Bold';
                font-size: 20px;
                line-height: 24px;
                text-transform: uppercase;
                color: #2E3A59;
                margin-top: 31px;
            }

            @include for-mobile {
                font-size: 18px;
                line-height: 22px;
            }

            @include for-xs-mobile {
                font-size: 16px;
                line-height: 20px;
            }
        }

        .functional_list {
            margin-top: 60px;
            width: 588px;
            height: 214px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-left: 20px;

            @include for-xl-desktop {
                margin-top: 49px;
                width: 580px;
                height: 205px;
                padding-left: 29px;
            }

            @include for-laptop {
                margin-top: 39px;
                width: 525px;
                height: 190px;
            }

            @include for-tablet {
                margin-top: 31px;
                padding: 0;
                width: 470px;
            }

            @include for-xl-mobile {
                width: 370px;
            }

            @include for-mobile {
                width: 300px;
            }

            @include for-xs-mobile {
                width: 270px;
            }

            .functional_text {
                color: #2E3A59;

                @include for-xl-desktop {
                    font-size: 17px;
                    line-height: 21px;
                }

                @include for-laptop {
                    font-size: 15px;
                    line-height: 19px;
                }

                @include for-xl-mobile {
                    font-size: 14px;
                    line-height: 17px;
                }

                @include for-mobile {
                    font-size: 12px;
                    line-height: 15px;
                }

                @include for-xs-mobile {
                    font-size: 11px;
                }

                .functional_boldtext {
                    font-weight: 900;

                    @include for-xl-mobile {
                        font-family: 'Montserrat-Bold';
                        font-weight: 600;
                    }
                }
            }

            .functional_text::before {
                content: url('../images/listitem.svg');
                margin-right: 14px;

                @include for-xl-desktop {
                    margin-right: 12px;
                }

                @include for-laptop {
                    zoom: 0.9;
                    margin-right: 10px;
                }

                @include for-xl-mobile {
                    zoom: 0.8;
                }

                @include for-mobile {
                    zoom: 0.7;
                }
            }
        }

        .functional_warning {
            width: 649px;
            height: 87px;
            background: #fff;
            box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.04);
            border-radius: 5px;
            margin-top: 69px;
            display: flex;
            justify-content: center;
            align-items: center;

            @include for-xl-desktop {
                width: 580px;
                height: 80px;
                margin-top: 57px;
            }

            @include for-laptop {
                width: 520px;
                height: 72px;
                margin-top: 46px;
            }

            @include for-tablet {
                margin-top: 40px;
            }

            @include for-xl-mobile {
                display: none;
            }

            p {
                color: #828282;
                margin-left: 19px;

                @include for-xl-desktop {
                    font-size: 16px;
                    line-height: 20px;
                    margin-left: 16px;
                }

                @include for-laptop {
                    font-size: 15px;
                    line-height: 19px;
                    margin-left: 14px;
                }
            }

            img {
                @include for-xl-desktop {
                    width: 29px;
                }

                @include for-laptop {
                    width: 27px;
                }
            }
        }

        .functional_buttons {
            margin-top: 57px;
            width: 468px;
            height: 76px;
            display: flex;

            @include for-xl-desktop {
                margin-top: 53px;
                width: 450px;
                height: 72px;
            }

            @include for-laptop {
                margin-top: 43px;
                width: 405px;
                height: 64px;
            }

            @include for-tablet {
                margin-top: 36px;
            }

            @include for-xl-mobile {
                width: 144px;
                height: 54px;
            }

            @include for-xs-mobile {
                margin-top: 30px;
            }

            .functional_button1 {
                background: linear-gradient(98.89deg, #FF9B05 25.06%, #FF8F3F 88.94%);
                box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.08);
                border-radius: 5px;
                display: flex;
                align-items: center;
                padding: 27px 34px;
                margin-right: 23px;

                @include for-xl-desktop {
                    padding: 24px 31px;
                }

                @include for-xl-mobile {
                    width: 144px;
                    margin: 0;
                    padding: 18px 18px 18px 25px;
                }

                p {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    color: #fff;
                    padding-right: 18px;

                    @include for-xl-desktop {
                        font-size: 16px;
                        line-height: 20px;
                        padding-right: 14px;
                    }

                    @include for-laptop {
                        font-size: 14px;
                        line-height: 18px;
                    }

                    @include for-xl-mobile {
                        font-size: 13px;
                        line-height: 16px;
                        padding-right: 6.5px;
                    }
                }

                img {
                    @include for-xl-desktop {
                        width: 40px;
                    }

                    @include for-laptop {
                        width: 35px;
                    }

                    @include for-xl-mobile {
                        width: 34px;
                        margin-left: 7px;
                    }
                }
            }

            .functional_button2 {
                background: #FF3B3B;
                border-radius: 5px;
                display: flex;
                align-items: center;
                padding: 22px 29px 23px 28px;

                @include for-xl-desktop {
                    padding: 19px 22px 20px 21px;
                }

                @include for-xl-mobile {
                    display: none;
                }

                p {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    color: #fff;
                    padding-right: 18px;

                    @include for-xl-desktop {
                        font-size: 16px;
                        line-height: 20px;
                        padding-right: 14px;
                    }

                    @include for-laptop {
                        font-size: 14px;
                        line-height: 18px;
                    }
                }

                img {
                    @include for-xl-desktop {
                        width: 30px;
                    }

                    @include for-laptop {
                        width: 27px;
                    }
                }
            }
        }
    }
}